{{page-title "Recipe"}}
<div class="global-wrapper">
  <header>
    <h1>Recipe endpoint</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/restaurant">Add Restaurants</a></li>
      </ul>
    </nav>
  </header>
  <div class="list-div">
    <h2>Recipe list</h2>
    <table>
      {{#each @model as |recipe|}}
        <tr class="list-recipe">
          <td>{{recipe.name}}</td>
          <td>{{recipe.category}}</td>
          <td>
            <button
              class="remove-btn"
              type="button"
              {{on "click" (fn this.removeRecipe recipe)}}
            >Remove</button></td>
        </tr>
      {{/each}}
    </table>
  </div>
  <section id="adder">

    {{! LINK EXISTING RECIPES }}

    <form class="form-adder" {{on "submit" this.updateRecipe}}>
      <h2> <em class="em-1">Link</em> existing recipe here</h2>
      <dl>
        <dt>Recipe name</dt>
        <dd>
          <select class="inputfield" {{on "change" this.selectRecipe}}>
            <option value="">Select a recipe</option>
            {{#each this.recipes as |recipe|}}
              <option value={{recipe.id}}>{{recipe.name}}</option>
            {{/each}}
          </select>
        </dd>

        <dt>Link To</dt>
        <select class="inputfield" {{on "change" this.selectRestaurant}}>
          <option value="">Select a restaurant</option>
          {{#each this.restaurants as |restaurant|}}
            <option value={{restaurant.id}}>{{restaurant.name}}</option>
          {{/each}}
        </select>
      </dl>
      <button class="create-btn" type="submit">Create</button>
    </form>

    {{! CREATE NEW RECIPES }}

    <form class="form-adder" {{on "submit" this.createRecipe}}>
      <h2><em class="em-2">Create</em> new recipe here</h2>
      <dl>
        <dt>Recipe name</dt>
        <dd>
          <Input
            @value={{this.newRecipeName}}
            placeholder="Spaghetti Bolognese"
          />
        </dd>
        <dt>Category</dt>
        <dd>
          <Input @value={{this.newCategory}} placeholder="Italian food" />
        </dd>
      </dl>
      <button class="create-btn" type="submit">Create</button>
    </form>
  </section>
</div>