{{page-title "Recipe"}}
<div class="global-wrapper">
  <header>
    <h1>Recipe endpoint</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/restaurant">Add Restaurants</a></li>
      </ul>
    </nav>
  </header>
  <div class="list-div">
    <h2>Recipe list</h2>
    <table>
      {{#each @model as |recipe|}}
        <tr class="list-recipe">
          <td>{{recipe.name}}</td>
          <td>{{recipe.category}}</td>
          <td>
            <button
              class="remove-btn"
              type="button"
              {{on "click" (fn this.removeRecipe recipe)}}
            >Remove</button></td>
        </tr>
      {{/each}}
    </table>
  </div>
  <section id="adder">
    <form class="form-adder" {{on "submit" this.createRecipe}}>
      <h2>Add <em class="em-1">existing</em> recipe here</h2>
      <dl>
        <dt>Recipe name</dt>
        <dd>
          <Input
            @value={{this.newRecipeName}}
            placeholder="Spaghetti Bolognese"
          />
        </dd>
        <dt>Category</dt>
        <dd>
          <Input @value={{this.newCategory}} placeholder="Italian food" />
        </dd>
      </dl>
      <select class="inputfield" {{on "change" this.selectRestaurant}}>
        <option value="">Select a restaurant</option>
        {{#each this.restaurants as |restaurant|}}
          <option value={{restaurant.id}}>{{restaurant.name}}</option>
        {{/each}}
      </select>
      <button class="create-btn" type="submit">Create</button>
    </form>

    <form class="form-adder" {{on "submit" this.createRecipe}}>
      <h2>Add <em class="em-2"> new </em> recipe here</h2>
      <dl>
        <dt>Recipe name</dt>
        <dd>
          <Input
            @value={{this.newRecipeName}}
            placeholder="Spaghetti Bolognese"
          />
        </dd>
        <dt>Category</dt>
        <dd>
          <Input @value={{this.newCategory}} placeholder="Italian food" />
        </dd>
      </dl>
      <select class="inputfield" {{on "change" this.selectRestaurant}}>
        <option value="">Select a restaurant</option>
        {{#each this.restaurants as |restaurant|}}
          <option value={{restaurant.id}}>{{restaurant.name}}</option>
        {{/each}}
      </select>
      <button class="create-btn" type="submit">Create</button>
    </form>
  </section>
</div>