{{page-title "Restaurant"}}

<div class="global-wrapper">
  <header>
    <h1>Restaurant endpoint</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/recipe">Link Recipes</a></li>
      </ul>
    </nav>
  </header>
  <div class="list-div">
    <h2>Restaurant list</h2>
    <table>
      {{#each @model as |restaurant|}}
        <tr class="list-recipe">
          <td>{{restaurant.name}}</td>
          <td> {{restaurant.item}} </td>
          <td>
            <button
              class="remove-btn"
              type="button"
              {{on "click" (fn this.removeRestaurant restaurant)}}
            >Remove</button>
          </td>
        </tr>
      {{/each}}
    </table>
  </div>
  <section id="adder">
    <form class="form-adder" {{on "submit" this.createRestaurant}}>
      <h2>Add your restaurant here</h2>

      <dl>
        <dt>Restaurant name</dt>
        <dd>
          <Input @value={{this.newRestaurantName}} placeholder="Bavet" />
        </dd>
        <dt>Menu item</dt>
        <dd>
          <Input
            @value={{this.newMenuItem}}
            placeholder="Spaghetti Bolognese"
          />
        </dd>
      </dl>
      <button class="create-btn" type="submit">Create</button>

    </form>
  </section>
</div>
{{!-- <button
    class="random-button"
    type="button"
    {{on "click" (action this.getRandomMeal)}}
  >Get Random Meal</button>

  <LinkTo @route="ingredients">
    <button class="goto-ingredients-button" type="button">Search based on
      Ingredients</button>
  </LinkTo> --}}